*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

button,
input,
label {
  font: inherit;
  background-color: transparent;
  border: none;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  color: var(--text-color);
}

:root {
  --primary-color: 4 100% 67%;
  --text-color: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);

  /* spacing */
  --space--sm: 8px;
  --space--md: 16px;
  --space--lg: 24px;
  --space--xl: 32px;
}

/* Succes Page Styling */

.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
  margin-left: 24px;
  gap: 40px;
}

/* utils */

.hidden {
  display: none;
}

.desktop-image {
  display: none;
}

.mobile-image {
  width: 100%;
  height: auto;
}

small {
  font-size: 12px;
  font-weight: 700;
  line-height: 150%;
}

/* utils */

/* The title styles */

.title-box {
  margin: 40px 0 24px 24px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  color: var(--text-color);
}

/* The title styles end */

/* Paragraph under the title styles */

.text {
  width: 327px;
  margin-bottom: 24px;
  margin-left: 24px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--text-color);
}

/* Paragraph under the title styles end */

/* List styles */

ul {
  margin-left: 24px;
}

.flex-md {
  display: flex;
  gap: 16px;
  padding-bottom: 10px;
}

.flex-md > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  width: 307px;
}

/* List styles end*/

/* Form Styles */

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label-error-box {
  width: 325px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.error-message {
  color: #ff6155;
}

input {
  width: 327px;
  height: 56px;
  background-color: white;
  border-radius: 8px;
  border: 2px solid #7c7c83;
  outline: none;
  font-size: 16px;
  margin-bottom: 24px;
  padding: 0 0 0 24px;
}

input:valid {
  border: 2px solid #7c7c83;
  background-color: white;
  box-shadow: none;
}

input:focus {
  outline: 2px solid transparent;
  box-shadow: 0 0 0 3px var(--primary-color), 0 0 0 2px var(--primary-color);
}

input.error {
  background-color: hsl(var(--primary-color) / 0.3);
  box-shadow: 0 0 0 2px var(--primary-color);
  color: hsl(var(--primary-color) / 0.9);
}

.invalid {
  border: 2px solid #ff6155;
}

.btn {
  width: 327px;
  height: 56px;
  border-radius: 8px;
  background-color: #242742;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 100px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ff6155;
  box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.5);
  border: none;
}

@media (min-width: 768px) {
  body {
    background-color: var(--charcoal-grey);
  }

  main {
    display: grid;
    place-items: center;
    padding: 16px;
    height: auto;
  }

  .text {
    width: 376px;
  }

  .flex-md > p {
    width: 339px;
  }

  .wrapper {
    background-color: var(--white);
    min-height: auto;
    border-radius: 1rem;
    width: 928px;
    padding: 16px;
    margin-top: 120px;
  }

  .mobile-image {
    display: none;
  }

  .desktop-image {
    display: block;
    float: right;
  }

  .form {
    align-items: flex-start;
    margin-top: 40px;
    margin-left: 24px;
  }

  .attribution {
    font-size: 12px;
    width: 400px;
    text-align: center;
  }

  .attribution a {
    text-decoration: none;
  }

  .success > p {
    text-align: left;
    width: 376px;
  }

  .success > .btn {
    width: 376px;
    margin-bottom: 64px;
  }

  #success {
    opacity: 0;
    visibility: hidden;
    display: grid;
    place-items: center;
    padding: 16px;
    background-color: var(--white);
    min-height: auto;
    border-radius: 1rem;
    width: 504px;
    height: auto;
  }

  #success.show {
    opacity: 1;
    visibility: visible;
  }
}
